*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --mainColor: #500075;
  --secondColor: #2B023F;
  --thirdColor: #FFFFFF;
}
body{
  background-color: var(--mainColor);
}
a{
  text-decoration: none;
}